header {
  background-color: rgb(0, 0, 0, .8);
  border-bottom: 1px groove #fff;
  box-shadow: #858383 0 2px 15px;
  color: #fff;
  margin-bottom: 3vh;
  width: 100vw;
}

nav {
  align-items: center;
  display: flex;
  justify-items: center;
  margin-left: 10px;
}

.home-link, .upload-link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 5vh;
  padding: 0 10px;
  text-decoration: none;
  transition: .5s;
}

.home-link:hover, .upload-link:hover {
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 0 0 1px 1px;
  box-shadow: #424242 0 1px 3px;
  transition: .7s;
}
